html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

:root {
    --primary-color: #b6895b;
    --background-color: #1a1818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background: var(--background-color);
    font-family: 'poppins', sans-serif;
    color: aliceblue;
    padding-top: 6.0rem;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: aliceblue;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary-color);
}

.navbar .navbar-nav a {
    color: aliceblue;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary-color);
    
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s linear;

}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);

}

.navbar .navbar-extra a {
    color: aliceblue;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary-color);
}

#menu {
    display: none;
}

.hero {
	min-height: 100vh;
	background-color: var(--background-color);
	position: relative;
	overflow: hidden;
	align-items: center;
}

/* footer */
footer {
	background-color: var(--primary-color);
	padding: 1.4rem;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: relative;
    bottom: 0;
    width: 100vw
}

footer .payment {
	text-align: right;
}

footer .payment a img {
	width: 3rem;
}

footer .credit {
	padding: 1rem 0;
	text-align: center;
}

footer div {
	display: inline-flex;
}

/* Media Queries */


/* Laptop */
@media (max-width: 1366px) {

    html {
        font-size: 75%;
    }
    
}

/* Tablet */
@media (max-width: 810px) {

    html {
        font-size: 62.5%;
    }

    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(1, 1, 1, 0.8);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;

    }

    .navbar .navbar-nav.active {
        right: 0;
    }

     .navbar .navbar-nav a {
        color: aliceblue;
        display: block;
        font-size: 2rem;
        padding: 0.5rem;
        margin: 1.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);

     
    }

}
/* Mobile */
@media (max-width: 450px) {

    html {
        font-size: 55%;
    }
}
