/* Hero Section */
.hero::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-image: url("../image_copy.jpg");
	background-repeat: no-repeat;
	background-size: 60% 100%;
	background-position: right center;
	-webkit-mask-image: linear-gradient(
		to right,
		transparent 40%,
		rgba(0, 0, 0, 0.85) 54%,
		black 60%
	);
	mask-image: linear-gradient(
		to right,
		transparent 40%,
		rgba(0, 0, 0, 0.85) 54%,
		black 60%
	);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	z-index: 0;
	pointer-events: none;
}

.hero .content {
	max-width: 60rem;
	padding: 1.4rem 7%;
	margin-left: 1rem;
	position: relative;
	z-index: 1;
}

.hero .content h1 {
	font-size: 5em;
	color: aliceblue;
	text-shadow: 1px 1px 3px #b66310;
	line-height: 1.2;
}

.hero .content h1 span {
	color: var(--primary-color);
}
.hero .content p {
	font-size: 1.6rem;
	margin-top: 1rem;
	line-height: 1.4;
	font-weight: 100;
	text-shadow: 1px 1px 3px #b66310;
}
.hero .content .cta {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: aliceblue;
	font-size: 1.4rem;
	border-radius: 0.5rem;
	box-shadow: 1px 1px 3px #b66310;
}


/* Product Categories */

.productcategorie h2 span {
	color: var(--primary-color);
}

.productcategorie h2 {
	font-size: 2em;
	color: aliceblue;
	line-height: 1.2;
	text-align: center;
}

.productcategorie {
	padding: 5rem 7% 1.4rem;
    min-height: 20vh;
	position: relative;
    z-index: 1;
    border-top: 1px solid var(--primary-color);
}

.productcategorie p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-align: center;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.productcategorie .row {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.productcategorie .row .categorie-card {
    text-align: center;
    padding-bottom: 2rem;
}

.productcategorie .row .categorie-card img {
    width: 80%;
    border-radius: 0.5rem;
	
}
.productcategorie .row .categorie-card .categorie-title {
    margin-top: 1rem auto 0.5rem;

}
