/* product Section */

.ctg-nav {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 1.4rem 7%;
	border-bottom: 1px solid var(--primary-color);
}

.ctg-nav .cta {
	font-size: 1.5rem;
	font-weight: 500;
	color: aliceblue;
	font-style: italic;
	border-radius: 50%;
	padding: 1rem 3rem;
	box-shadow: 1px 1px 3px #b66310;
	position: relative;
	display: inline-block;
	background-color: var(--primary-color);

}


.hero .product {
	/* max-width: 60rem; */
	padding: 1.4rem 7%;
	margin-left: 1rem;
	position: relative;
	z-index: 1;
}

.hero .product h1 {
	font-size: 2.5em;
	color: aliceblue;
	text-shadow: 1px 1px 3px #b66310;
	line-height: 1.2;
}

.product .implant-categorie h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
	font-size:2rem;
	color: aliceblue;
}


.product .product-card {
	justify-content: center;
	text-align: center;
	padding: 2rem;
	max-width: 30%;
	float: left;
}


.product .product-image {
	padding: 1rem 0;
}

.product .product-image img {
	height: 8rem;
}

.product .product-content h3,h4,h5,h6 {
	font-size: 1.5rem;
	color: aliceblue;
	
}
